/***** EGWP ADMIN CSS *****/

/***** TEXT *****/

h1 {
	font-size: 2.4em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.2em;
}
.cta-button {
    background: #3498db;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
    text-decoration: none;
}
.cta-button:hover {
    background: #2e8ece;
    color: #fff;
}

/***** NAV *****/

.nav-tab-wrapper {
	border-bottom: 1px solid #ccc;
}

/***** TABLE *****/

.form-table th {
	width: 350px;
}

/***** EXTENSIONS TABLE *****/

.extensions-table {
	max-width: 1000px;
}
.extensions-table td {
	background: #fff;
	padding: 10px;
}
/***** BUTTONS *****/

#submit {
	margin: 20px 20px 20px 0;
}
#gcwp_reset {
	margin: 0 10px;
}
.gcwp_delete_image_size_button {
	cursor: pointer;
	color: #e74c3c;
}
.button.egwp-upload-button {
	margin: 0 10px;
}

/***** INPUTS *****/

input[type=checkbox] {
	visibility: hidden;
}
#gcwp_add_image_width, #gcwp_add_image_height {
	width: 100px;
}
#gcwp_add_image_type {
	margin-left: 5px;
}
input[type=radio].gcwp_radio {
	display: none;
}
.egwp-layout-label {
	padding: 3px 3px 0px 3px;
}
.egwp-layout-label img {
	max-width: 85px;
}
.egwp-layout-label-big img {
	max-width: 110px;
	padding: 4px 4px 4px 4px;
}
.egwp-layout-label-selected {
	outline: 2px solid #3498db;
}
.gcwp_select {

}
.gcwp_text {
	width: 250px;
}
.gcwp_checkbox {
	width: 80px;
	height: 26px;
	background: #F1F1F1;
	/*margin: 20px auto;*/
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.gcwp_checkbox:after {
	content: 'OFF';
	font: 12px/26px Arial, sans-serif;
	color: #FFF;
	position: absolute;
	right: 10px;
	z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
.gcwp_checkbox:before {
	content: 'ON';
	font: 12px/26px Arial, sans-serif;
	color: #FFF;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}
.gcwp_checkbox label {
	display: block;
	width: 34px;
	height: 20px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.gcwp_checkbox input[type=checkbox]:checked + label {
	left: 43px;
}

/***** INPUTS - PLACEHOLDER TEXT *****/

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: transparent;
}
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: transparent;
    opacity: 0;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: transparent;
    opacity: 0;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: transparent;
}
input:focus:placeholder-shown, textarea:focus:placeholder-shown { /* Standard */
    color: transparent;
}